/* Document colours */
:root {
   $background: #f2f3f5;
   $foreground: #010204;
   $highlight: #738b8e;

   
}

/* Page */
html {
   background-color: $background;
}

/* Buttons */
button {
   background-color: $highlight;
}

/* Navbar */
nav > ul {
   list-style: none;
}

.navbar {
   display: inline-flex;
   flex-direction: flex;
}